<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.web.repository.KeywordMapper">

    <!-- 키워드 아이디 불러오기 -->
    <select id="getKeywordIdByName" resultType="Long">
        SELECT "KEYWORD_ID"
        FROM KEYWORD
        WHERE "KEYWORD_NAME" = #{keywordName}
    </select>

</mapper>
