<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.web.repository.UserMapper">

    <!-- 아이디 중복 -->
    <select id="existsByUserId" resultType="int">
        SELECT COUNT(*) FROM USER_TBL WHERE user_id = #{id}
    </select>

    <!-- 회원가입 -->
    <insert id="insertUser">
        INSERT INTO USER_TBL
        (user_id, username, password, phone_number, nickname,  created_at)
        VALUES
        (#{user_id}, #{username}, #{password}, #{phone_number},
         #{nickname} ,SYSDATE)
    </insert>

    <resultMap id="signUpResultMap" type="com.smhrd.web.DTO.SignUpRequest">
        <result property="user_id" column="USER_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="phone_number" column="PHONE_NUMBER"/>
        <result property="nickname" column="NICKNAME"/>
    </resultMap>



    <!-- 로그인 -->
    <select id="findByUserId" resultMap="signUpResultMap">
        SELECT * FROM USER_TBL WHERE user_id = #{user_input_id}
    </select>


 <resultMap id="signUpResultMap2" type="com.smhrd.web.DTO.UserDTO">
        <result property="user_id" column="USER_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="phone_number" column="PHONE_NUMBER"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="role" column="ROLE"/>
        <result property="userProfile" column="USERPROFILE"/>
    </resultMap>

    <!-- 로그인 정보 가져오기 -->
    <select id="loginUserInfo" resultMap="signUpResultMap2">
        SELECT * FROM USER_TBL WHERE user_id = #{user_id}
    </select>



    <!-- 유저 정보  수정 -->
    <update id="UserInfoUpdate" parameterType="com.smhrd.web.DTO.UserInfoUpdate_DTO">
    UPDATE USER_TBL
    SET
        password = #{password},
        username = #{username},
        phone_number = #{phone_number},
        nickname = #{nickname}
    WHERE user_id = #{user_id}
    </update>

<!-- 유저 프로필 사진 변경 -->
   <update id="updateUserProfileById" parameterType="com.smhrd.web.DTO.UserProfileUpdateDTO">
        UPDATE USER_TBL
        SET    USERPROFILE = #{imageUrl}
        WHERE  USER_ID    = #{userId}
    </update>

    <!-- 이미지 리셋 -->
    <update id="restUserProfile" parameterType="string">
        UPDATE USER_TBL
        SET    USERPROFILE = '/uploads/default/user.png'
        WHERE  USER_ID    = #{userId}
        </update>


        <!-- 화원 탈퇴 -->
    <delete id="userInfoDelete" parameterType="string">
       DELETE FROM USER_TBL WHERE  USER_ID = #{userId}
    </delete>

    <!-- 네이버 ID로 회원 여부 확인 -->
    <select id="existsByUserNaver" resultType="int">
    SELECT COUNT(*) FROM USER_TBL WHERE naverlogincheck = #{naverlogincheck,jdbcType=VARCHAR}
    </select>

    <resultMap id="signUpResultMap3" type="com.smhrd.web.DTO.NaverDTO">
        <result property="user_id" column="USER_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="phone_number" column="PHONE_NUMBER"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="userProfile" column="USERPROFILE"/>
        <result property="role" column="ROLE"/>
        <result property="naverlogincheck" column="NAVERLOGINCHECK"/>
    </resultMap>

    <!-- 네이버 ID로 회원 정보 조회-->
    <select id="findByNaverId" parameterType="string" resultType="com.smhrd.web.DTO.NaverDTO" resultMap="signUpResultMap3">
        SELECT *
        FROM USER_TBL
        WHERE naverlogincheck = #{naverlogincheck}
    </select>

    <!-- 네이버 사용자 신규 가입 -->
    <insert id="insertNaverUser" parameterType="com.smhrd.web.DTO.NaverDTO">
    INSERT INTO USER_TBL (
        user_id, username, password, phone_number, nickname, naverlogincheck
    ) VALUES (
        #{user_id}, #{username}, #{password}, #{phone_number}, #{nickname}, #{naverlogincheck}
    )
    </insert>

     <!-- 최근 일주일 간 크롤링 키워드 수 조회 -->
    <select id="getCrawlingCountByDateRange" resultType="map">
        SELECT
            TO_CHAR(created_at, 'YY-MM-DD') AS date,
            COUNT(*) AS count
        FROM
            KEYWORD_DAILY_STATS
        WHERE
            created_at BETWEEN TO_DATE(#{from}, 'YY-MM-DD') AND TO_DATE(#{to}, 'YY-MM-DD') + 1
        GROUP BY
            TO_CHAR(created_at, 'YY-MM-DD')
        ORDER BY
            date
    </select>

</mapper>