<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.smhrd.web.repository.UserMapper">


    <select id="existsByUserId" resultType="int">
        SELECT COUNT(*) FROM user_tbl WHERE user_id = #{id}
    </select>


    <insert id="insertUser">
    INSERT INTO user_tbl
    (user_id, username, password, phone_number, nickname, role, created_at)
    VALUES
    (#{id}, #{name}, #{password}, #{phone}, #{nickname}, #{role}, SYSDATE)
    </insert>

    <select id="findByUserId" resultType="com.smhrd.web.DTO.SignUpRequest">
        SELECT * FROM user_tbl WHERE user_id = #{id}
    </select>


</mapper>